<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Add Uni Admin</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="static/assets/fonts/fontawesome-all.min.css">
</head>

<body id="page-top">
        {% with messages= get_flashed_messages(with_categories=true) %}
        {%if messages%}
        {%for category,message in messages%}
        <div class='alert alert-{{category}}'>
            {{message}}
        </div>
        {%endfor%}
        {%endif%}
    {% endwith%}
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>noteSharing</span></div>
                </a>
                <hr class="sidebar-divider my-0">
               
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        </nav>
        <div id="content">
            <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a> 
                <a class="nav-item nav-link" href="{{ url_for('admin') }}">Admin View</a> </nav>
        </div>
            <div class="container-fluid">
                <h2 class="text-dark mb-1">Add University Admin.. </h2>
                {{form.hidden_tag()}}
                <form method="POST" action=" ">
                        {{form.hidden_tag()}}
            
                       
                        
                        <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                                    
                                {{form.email.label}}
                                {%if form.errors%}
                                {{ form.email(class="form-control form-control-user form-control-lg is-invalid") }}
            <div class = “invalid-feedback”>
                {%for error in form.email.errors%}
                    <span>
                        {{error}}
                            <span>
                                    {%endfor%}
                            </div>
                                {%else%}

                                {{form.email(class="form-control form-control-user")}}
                                {%endif%}
                         </div>
                         <div class="col-sm-6 mb-3 mb-sm-0">
                                    
                                {{form.password.label}}
                                {%if form.errors%}
                             {{ form.password(class="form-control form-control-user form-control-lg is-invalid") }}
                                <div class = “invalid-feedback”>
                                {%for error in form.password.errors%}
                                <span>
                                {{error}}
                                <span>
                                {%endfor%}
                                </div>
                                {%else%}

                                {{form.password(class="form-control form-control-user")}}
                                {%endif%}
                         </div>
                         <div class="col-sm-6 mb-3 mb-sm-0">
                                    
                                {{form.confirm_password.label}}
                                {%if form.errors%}
                                {{ form.confirm_password(class="form-control form-control-user form-control-lg is-invalid") }}
                                    <div class = “invalid-feedback”>
                                    {%for error in form.confirm_password.errors%}
                                    <span>
                                    {{error}}
                                    <span>
                                    {%endfor%}
                                    </div>
                                    {%else%}

                                {{form.confirm_password(class="form-control form-control-user")}}
                                {%endif%}
                         </div>
                         <div class="col-sm-6 mb-3 mb-sm-0">
                                    
                                {{form.university_chosen.label}}
                                {%if form.errors%}
                                {{ form.university_chosen(class="form-control form-control-user form-control-lg is-invalid") }}
                                <div class = “invalid-feedback”>
                                {%for error in form.university_chosen.errors%}
                                <span>
                                {{error}}
                                <span>
                                {%endfor%}
                                </div>
                                {%else%}

                                {{form.university_chosen(class="form-control form-control-user")}}
                                {%endif%}
                         </div>
                        
            </div>


            <div class="form-group align-middle">
                    {{form.hidden_tag()}}
                    <div class="align-middle">
                            
                            {{ form.submit(class="btn btn-outline-info") }}
                    </div>

                </form>


                 </form>
                </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © noteSharing 2020 | SK ZR FT ST</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/chart.min.js"></script>
    <script src="static/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="static/assets/js/theme.js"></script>
</body>

</html>
