<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register - Brand</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="static/assets/fonts/fontawesome-all.min.css">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-register-image" style="background-image: url(&quot;assets/img/Blue%20Typographic%20Social%20Media%20Graphic.png&quot;);background-size: cover;background-position: center;"></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Create an Account</h4>
                            </div>
                            <div>
                                <ul class="nav nav-tabs">
                                    <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-1">Student</a></li>
                                    <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-2">Faculty</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane" role="tabpanel" id="tab-1">
                                        <form class="user" style="padding-top: 12px;">
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    
                                                    <!--Student First Name-->
                                                    {{form.first_name.label}}
                                                    {{form.first_name(class="form-control form-control-user")}}
                                                </input>

                                                </div>
                                                <div class="col-sm-6">
                                                     <!--Student Last Name-->
                                                     {{form.last_name.label}}
                                                     {{form.last_name(class="form-control form-control-user")}}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                    <div class="col-sm-6">
                                                <!--Student Email-->
                                                {{form.email.label}}
                                                {{form.email(class="form-control form-control-user")}}</div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <!--Student Password-->
                                                {{form.password.label}}
                                                {{form.password(class="form-control form-control-user")}}
                                                </div>
                                                <div class="col-sm-6">
                                                     <!--Student Confirm Password-->
                                                {{form.confirm_password.label}}
                                                {{form.confirm_password(class="form-control form-control-user")}}
                                                </div>
                                            </div><select class="form-control" style="padding-bottom: 0;"><optgroup label="Choose university"><option value="12" selected>American University of Sharjah (AUS)</option><option value="13">University of Sharjah (UOS)</option></optgroup></select><button class="btn btn-primary btn-block text-white btn-user" type="submit" style="margin-top: 12px;">Register Student Account</button>
                                            <hr>
                                            <hr>
                                        </form>
                                    </div>
                                    <div class="tab-pane active" role="tabpanel" id="tab-2">
                                        <form class="user" style="padding-top: 12px;">
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                     <!--Faculty First Name-->
                                                     {{form.first_name.label}}
                                                     {{form.first_name(class="form-control form-control-user")}}
                                                </div>
                                                <div class="col-sm-6">
                                                    <!--Faculty Last Name-->
                                                    {{form.last_name.label}}
                                                    {{form.last_name(class="form-control form-control-user")}}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                 <!--Faculty Email-->
                                                 {{form.email.label}}
                                                 {{form.email(class="form-control form-control-user")}}
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <!--Faculty Password-->
                                                {{form.password.label}}
                                                {{form.password(class="form-control form-control-user")}}
                                                </div>
                                                <div class="col-sm-6">
                                                    <!--Faculty Confirm Password-->
                                                {{form.confirm_password.label}}
                                                {{form.confirm_password(class="form-control form-control-user")}}

                                                </div>
                                            </div><select class="form-control"><optgroup label="Choose univerity"><option value="12" selected>American University of Sharjah (AUS)</option><option value="13">University of Sharjah (UOS)</option></optgroup></select><button class="btn btn-primary btn-block text-white btn-user" type="submit" style="margin-top: 12px;">Register Faculty Account</button>
                                            <hr>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center"><a class="small" href="forgot-password.html">Forgot Password?</a></div>
                            <div class="text-center"><a class="small" href="login.html">Already have an account? Login!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/chart.min.js"></script>
    <script src="static/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="static/assets/js/theme.js"></script>
</body>

</html>