
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Upload Notes</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="static/assets/fonts/fontawesome-all.min.css">
</head>
    <body id="page-top">
            {% with messages= get_flashed_messages(with_categories=true) %}
            {%if messages%}
            {%for category,message in messages%}
            <div class='alert alert-{{category}}'>
                {{message}}
            </div>
            {%endfor%}
            {%endif%}
        {% endwith%}



    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>noteSharing</span></div>
                </a>
              
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{{url_for('profile')}}"><i class="fas fa-user"></i><span>Student Profile</span></a></li>

                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>


        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                    <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                            <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a> </nav>
                <div class="container-fluid" style="margin-top: 40px;">
                    <h3 class="text-dark mb-4" style="margin-bottom: 24px;height: 18px;">{{User_FirstName}}</h3>

                    <h1>Upload a PDF to be approved by your instructor: </h1>

                            <form method="POST" action="" enctype=multipart/form-data>
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class = "container">
                                    {{form.course_id.label}}
                                    {%if form.errors%}
                                    {{ form.course_id(class="form-control form-control-user form-control-lg is-invalid") }}
                                    <div class = “invalid-feedback”>
                                    {%for error in form.course_id.errors%}
                                    <span>
                                    {{error}}
                                    <span>
                                    {%endfor%}
                                    </div>
                                    {%else%}
                                     {{form.course_id}}
                                    {%endif%}
                                <input type='file' name='inputFile'>
                               <!--<input type=submit value=Upload>--> 
                                <div class="form-group align-middle">
                                    {{form.hidden_tag()}}
                                    <button>    
                                     <div class="align-middle">
                                            <!--Button Option to Submit-->
                                            {{ form.submit(class="btn btn-outline-info") }}
                                    </div>
                                    </button>
                              </form>

                    <!-- <button type="button" style = "margin-bottom: 10px;" onclick="window.location.href='{{ url_for( 'profile') }}';">Upload Notes</button> -->
                </div>
                <div class="table-responsive">

                </div>
            </div>
            
            </form>

            </div>




            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © noteSharing 2020 | SK ZR FT ST</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="static/assets/js/theme.js"></script>
</body>

</html>